<div ng-controller="CollectionsController">
		<div class="content-container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form class="form">
						<div class="form-group">
							<input type="text" name="q" class="form-control" data-ng-model="searchCollection" placeholder="Search By OR Number, ID Number, Firstname, Lastname">
						</div>				
					</form>
				</div>
				<div class="col-md-6 col-md-offset-3">
					<table class="table table-striped" border="0">
						<thead>
							<th>OR Number</th>
							<th>Student ID</th>
							<th>Member</th>
						</thead>
						<tr data-ng-repeat="collection in collections | filter:searchCollection">
							<td><a href="#collection/{{collection.id}}">{{ collection.or_number }}</a></td>
							<td>{{ collection.member.student_id }}</td>
							<td><a href="#member/{{collection.member.id}}"></a>{{ collection.member.full_name }}</td>
						</tr>
					</table>
					
				</div>
			</div>

		</div>
</div>