<div ng-controller="MembersController">
		<div class="content-container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form class="form">
						<h4>Filter</h4>
						<div class="form-group">
							<input type="text" name="q" class="form-control" data-ng-model="searchStudent" placeholder="Search By ID Number, Firstname, Lastname">
						</div>
					</form>
				</div>
				<div class="member-info col-md-6 col-md-offset-3">
					<h4>Member Info</h4>
					<table class="table table-bordered table-striped">
						<tr>
							<td><strong>Student ID No.</strong></td>
							<td>{{member.student_id}}2013-0038</td>
						</tr>
						<tr>
							<td><strong>Full Name</strong></td>
							<td>{{member.full_name}}Ebarle, Roselle M.</td>
						</tr>
						<tr>
							<td><strong>Gender</strong></td>
							<td>{{member.gender}}F</td>
						</tr>
						<tr>
							<td><strong>Course & Year</strong></td>
							<td>{{member.student_major}} {{member.student_level}}BSCS 3</td>
						</tr>
						<tr>
							<td><strong>College</strong></td>
							<td>{{member.department_college}}SCS</td>
						</tr>
						<tr>
							<td><strong>Collections</strong></td>
							<td><a href="#collections/{{member.collections.id}}1">{{member.collections.or_number}}OR#12345</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
</div>