<div ng-controller="MembersController">
	<div class="content-container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form class="form">
					<div class="form-group">
						<input type="text" name="q" class="form-control" data-ng-model="searchStudent" placeholder="Search By ID Number, Firstname, Lastname">
					</div>
				</form>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<table class="table table-striped">
					<thead>
						<th>ID Number</th>
						<th>Lastname</th>
						<th>Firstname</th>
						<th>Middle Initial</th>
					</thead>
					<tr data-ng-repeat="member in members | filter:searchStudent">
						<td><a href="#members/{{member.id}}">{{member.student_id}}</a></td>
						<td>{{member.names.last_name}}</td>
						<td>{{member.names.first_name}}</td>
						<td>{{member.names.middle_initial}}</td>
					</tr>
				</table>
				
			</div>
		</div>
	</div>
</div>