{% extends "base.html" %}

{% block sidebar %}
<div class="row">
	<div class="col-md-12">
		<h4>Quick Links</h4>
		<ul>
			<li><a href="/members/add">Add Member</a></li>
			<li><a href="/members/add">View All Members</a></li>
			<li><a href="/members/add">View Members with Liabilities</a></li>
		</ul>
	</div>
</div>


{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form form-horizontal">
					<div class="fieldset">
						<h4>Quick Add Form</h4><br>
						<div class="form-group">
							<div class="col-md-4">
								<label>ID Number</label>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label>Last Name</label>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label>First Name</label>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label>Middle Name</label>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<input type="submit" class="form-control">
							</div>
						</div>
					</div>
				</form>		
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form class="form">
			<h4>Filter</h4>
			<div class="form-group">
				<input type="text" name="q" class="form-control" placeholder="Search Member">
			</div>
		</form>
	</div>
	<div class="col-md-12">
		<p>Showing {{ results_count }} result(s)</p>
		<table class="table" border="0">
			<tr>
				<td>ID Number</td>
				<td>Full Name</td>
			</tr>
			{% for member in members %}
			<tr>
				<td><a href="/members/{{member.id}}">{{ member.student_id }}</a></td>
				<td>{{ member }}</td>
			</tr>
			{% endfor %}
		</table>
		
	</div>
</div>
{% endblock %}