{% extends "base.html" %}

{% block sidebar %}
<ul>
	<li><a href="/members/add">Add Member</a></li>
	<li><a href="/members/add">View All Members</a></li>
	<li><a href="/members/add">View Members with Liabilities</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<form class="form">
			<div class="form-group">
				<input type="text" name="q" class="form-control" placeholder="Search Member">
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>Showing {{ results_count }} result(s)</p>
		<table class="table" border="0">
			<tr>
				<td>ID Number</td>
				<td>Full Name</td>
			</tr>
			{% for member in members %}
			<tr>
				<td><a href="/members/{{member.id}}">{{ member.student_id }}</a></td>
				<td>{{member.last_name}}, {{member.first_name}} {{member.middle_initial}}.</td>
			</tr>
			{% endfor %}
		</table>
		
	</div>
</div>
{% endblock %}